@model Vision_V1.Models.Character

@{
    ViewBag.Title = "Details";
    ViewBag.Controller = "Characters";
    Layout = "~/Views/Shared/Templates/DetailsTemplate.cshtml";
}

@section Title{@Model.Name}


@section TitleLinks{
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit","Characters", new { id = Model.ID })'">
        <img src="~/Content/Icons/Edit.png" alt="Load" class="small_image" />
    </button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete","Characters", new { id = Model.ID })'">
        <img src="~/Content/Icons/Trash.png" alt="Delete" class="small_image" />
    </button>
    @{
        var page = Vision_V1.ViewModels.PageManager.Pages.Find(p => p.Name == ViewBag.Title && p.Controller == ViewBag.Controller);
        var index = Vision_V1.ViewModels.PageManager.Pages.IndexOf(page);
        var isLast = false;
        if (index == Vision_V1.ViewModels.PageManager.Pages.Count - 1)
        {
            isLast = true;
        }
    }
    @if (Vision_V1.ViewModels.PageManager.Pages.Count > 1 && isLast)
    {
        <button type="button" class="btn btn-default disabled" onclick="location.href='@Url.Action("ChangeStructure","Page")'">
            <img src="~/Content/Icons/SeperatorLight.png" alt="Seperator" class="small_image" />
        </button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("RemovePageWID","Page", new { id = index })'">
            <img src="~/Content/Icons/Cancel.png" alt="Delete" class="small_image" />
        </button>
    }
}

@section Attribute1Name{@Html.DisplayNameFor(model => model.Name)}
@section Attribute1Prop{@Html.DisplayFor(model => model.Name)}

@section Attribute2Name{@Html.DisplayNameFor(model => model.History)}
@section Attribute2Prop{@Html.DisplayFor(model => model.History)}

@section Attribute3Name{@Html.DisplayNameFor(model => model.LastModified)}
@section Attribute3Prop{@Html.DisplayFor(model => model.LastModified)}

@section groupAttributes{
    @{
        var attributes = Vision_V1.ViewModels.PageManager.Attributes;
    }
    @if(attributes != null && attributes.Any())
    {
        for (int i = 0; i < attributes.Count; i++)
        {
            string value = " ";
            if (Model.CharacterAttributes != null && Model.CharacterAttributes.Any())
            {
                value = Model.CharacterAttributes.ToList().Find(ca => ca.AttributeId == attributes[i].ID).Value;
                if (value == null)
                {
                    value = " ";
                }
            }
            <div class="row">
                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-2 label2">
                        @Html.DisplayName(attributes[i].Name)
                    </div>
                    <div class="col-lg-9">
                        @value
                        @*@Html.Display(value)*@
                    </div>
                </div>
            </div>
        }
    }
}

@section ListOf{
    <div>
        <div>
            @Html.Partial("~/Views/CharacterEvolvements/Index.cshtml", Model.EvolvementSteps)
        </div>
        <div class="top-margin-20">
            @Html.Partial("~/Views/Relationships/Index.cshtml", Model.Relationships)
        </div>
        <div class="top-margin-20">
            @Html.Partial("~/Views/Plotlines/Index.cshtml", Model.Plotlines.ToList())
        </div>
    </div>
}