@model List<Vision_V1.Models.Information>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Templates/IndexTemplate.cshtml";
}
@section Title{Information}

@section Links{
    <span class="right">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Information")'">
            <img src="~/Content/Icons/New.png" alt="Create core location" class="small_image" />
        </button>
        @if (Vision_V1.ViewModels.PageManager.CurrentInformation != null)
        {
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("List","Information")'">
                <img src="~/Content/Icons/Minimize.png" alt="Back to list" class="small_image" />
            </button>
        }
    </span>
}

@section Table{
    @if (Model == null || !Model.Any())
    {
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1 padding-5 gray_text">No Information created yet.</div>
        </div>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LastModified)
                </th>
                <th></th>
            </tr>
            @{
                var infoList = Model.Where(model => model.ParentId == null).OrderBy(model => model.Name).ToList();
            }
            @foreach (var information in infoList)
            {
                var color = Vision_V1.Models.Types.ColorSchema.PrimaryDark;
                if (Vision_V1.ViewModels.PageManager.CurrentInformation == information)
                {
                    color = Vision_V1.Models.Types.ColorSchema.Gray.Light;
                }
                <tr style="background-color:@color">
                    <td>
                        @Html.DisplayFor(modelItem => information.Name)
                    </td>
                    <td class="text-smaller">
                        @Html.DisplayFor(modelItem => information.LastModified)
                    </td>
                    <td>
                        <span class="right">
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details","Information", new { id = information.ID })'">
                                <img src="~/Content/Icons/Details.png" alt="Details" class="small_image" />
                            </button>
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit","Information", new { id = information.ID })'">
                                <img src="~/Content/Icons/Edit.png" alt="Edit" class="small_image" />
                            </button>
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete","Information", new { id = information.ID })'">
                                <img src="~/Content/Icons/Trash.png" alt="Delete" class="small_image" />
                            </button>
                        </span>
                    </td>
                </tr>
            }

        </table>
    }
}
