@model List<Vision_V1.Models.Attribute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Templates/IndexTemplate.cshtml";
}

@section Title{Character attributes}

@section Links{
    <span class="right">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Attributes")'">
            <img src="~/Content/Icons/New.png" alt="Create arc" class="small_image" />
        </button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Home","Characters")'">
            <img src="~/Content/Icons/Characters.png" alt="Characters" class="small_image" />
        </button>
    </span>
}

@section Table{
    @if (Model == null || !Model.Any())
    {
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1 padding-5">No character attributes added yet.</div>
        </div>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Size)
                </th>
                <th>

                    @Html.DisplayNameFor(model => model.FirstOrDefault().ShowInTable)
                </th>
                @if (Model.Count > 1)
                {
                    <th></th>
                }
                <th></th>
            </tr>

            @{
                var attributeList = Model.OrderBy(model => model.OrderID).ToList();
            }
            @foreach (var attribute in attributeList)
            {
                var color = Vision_V1.Models.Types.ColorSchema.PrimaryDark;
                <tr style="background-color:@color">
                    <td>
                        @Html.DisplayFor(modelItem => attribute.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => attribute.Size)
                    </td>
                    <td>
                        @if (attribute.ShowInTable)
                        {
                            <span class="text-success">YES</span>
                        }
                        else
                        {
                            <span class="text-warning">NO</span>
                        }
                    </td>
                    @if (Model.Count > 1)
                    {
                        <td>
                            <span class="right">
                                @if (attributeList.IndexOf(attribute) > 0)
                                {
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("MoveUp","Attributes", new { id = attribute.ID })'">
                                        <img src="~/Content/Icons/ArrowUpBlue.png" alt="Up" class="small_image" />
                                    </button>
                                }
                                @if (attributeList.IndexOf(attribute) != attributeList.Count - 1)
                                {
                                    <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("MoveDown","Attributes", new { id = attribute.ID })'">
                                        <img src="~/Content/Icons/ArrowDownBlue.png" alt="Down" class="small_image" />
                                    </button>
                                }
                            </span>
                        </td>
                    }
                    <td>
                        <span class="right">
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit","Attributes", new { id = attribute.ID })'">
                                <img src="~/Content/Icons/Edit.png" alt="Edit" class="small_image" />
                            </button>
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete","Attributes", new { id = attribute.ID })'">
                                <img src="~/Content/Icons/Trash.png" alt="Delete" class="small_image" />
                            </button>
                        </span>
                    </td>
                </tr>
            }
        </table>
    }
}
