@model List<Vision_V1.Models.Plotline>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Templates/ListTemplate.cshtml";
}

@section Title{Plotlines}

@section Links{
    <button type="button" class="btn btn-primary right" onclick="location.href='@Url.Action("Index","Plotlines")'">
        <img src="~/Content/Icons/Maximize.png" alt="Back to list" class="small_image" />
    </button>
}

@section List{
    @{
        var plotList = Model.OrderBy(model => model.Name).ToList();
    }
    @if (plotList == null || !plotList.Any())
    {
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1 padding-5 gray_text">No entries</div>
        </div>
    }
    else
    {
        foreach (var plot in plotList)
        {
            if (Vision_V1.ViewModels.PageManager.CurrentPlotline != null && Vision_V1.ViewModels.PageManager.CurrentPlotline.ID == plot.ID)
            {
                <button type="button" class="btn btn-info btn-block" onclick="location.href='@Url.Action("Details", "Plotlines",new { id = plot.ID })'">
                    <span>@plot.Name</span>
                </button>
            }
            else
            {
                <button type="button" class="btn btn-standard btn-block" onclick="location.href='@Url.Action("Details", "Plotlines",new { id = plot.ID })'">
                    <span>@plot.Name</span>
                </button>
            }
        }
    }
}