@model List<Vision_V1.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Templates/IndexTemplate.cshtml";
}

@section Title{Books}

@section Links{
    <span class="right">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create","Books")'">
            <img src="~/Content/Icons/New.png" alt="Create book" class="small_image" />
        </button>
        @if(Vision_V1.ViewModels.PageManager.CurrentBook != null)
        {
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("List","Books")'">
                <img src="~/Content/Icons/Minimize.png" alt="Back to list" class="small_image" />
            </button>
        }
    </span>
}

@section Table{
    @if (Model == null || !Model.Any())
    {
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1 padding-5 gray_text">No Books created yet.</div>
        </div>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Summary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().EstimatedDuration)
                </th>
                <th>
                    Main plotline
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LastModified)
                </th>
                <th></th>
            </tr>
            @{
                var bookList = Model.OrderBy(model => model.ID).ToList();
            }
            @foreach (var book in bookList)
            {
                var color = Vision_V1.Models.Types.ColorSchema.PrimaryDark;
                <tr style="background-color:@color">
                    <td>
                        @Html.DisplayFor(modelItem => book.Name)
                    </td>
                    <td>
                        @book.SummaryShort()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => book.EstimatedDuration)
                    </td>
                    <td>
                        @if (book.PlotlineId == null)
                        {
                            <span>None</span>
                        }
                        else
                        {
                            <button type="button" class="btn btn-link text-small" onclick="location.href='@Url.Action("Details","Plotlines", new { id = book.PlotlineId })'">
                                @Html.DisplayFor(modelItem => book.MainPlotline.Name)
                            </button>
                        }
                    </td>
                    <td class="text-smallest">
                        @Html.DisplayFor(modelItem => book.LastModified)
                    </td>
                    <td>
                        <span class="right">
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details","Books", new { id = book.ID })'">
                                <img src="~/Content/Icons/Details.png" alt="Details" class="small_image" />
                            </button>
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Edit","Books", new { id = book.ID })'">
                                <img src="~/Content/Icons/Edit.png" alt="Edit" class="small_image" />
                            </button>
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete","Books", new { id = book.ID })'">
                                <img src="~/Content/Icons/Trash.png" alt="Delete" class="small_image" />
                            </button>
                        </span>
                    </td>
                </tr>
            }

        </table>
                }
}
