@model List<Vision_V1.Models.MainCharacter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Templates/IndexTemplate.cshtml";
}

@section Title{Main characters}

@section Links{
    <span class="right">
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("PickForMC","Characters")'">
            <img src="~/Content/Icons/Add.png" alt="Create character" class="small_image" />
        </button>
        @if (Vision_V1.ViewModels.PageManager.CurrentMainCharacter != null)
        {
            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("List","MainCharacters")'">
                <img src="~/Content/Icons/Minimize.png" alt="Back to list" class="small_image" />
            </button>
        }
    </span>
}

@section Table{
    @if (Model == null || !Model.Any())
    {
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1 padding-5">No Main characters yet.</div>
        </div>
    }
    else
    {
        <table class="table text-small">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
                </th>
                <th>
                    #@Html.DisplayNameFor(model => model.FirstOrDefault().POVScenes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().LastModified)
                </th>
                <th></th>
            </tr>

            @{
                var characterList = Model.OrderBy(model=> model.Name).ToList();
            }
            @foreach (var character in characterList)
            {
                var color = Vision_V1.Models.Types.ColorSchema.PrimaryDark;
                <tr style="background-color:@color">
                    <td>
                        @Html.DisplayFor(modelItem => character.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => character.POVScenes.Count)
                    </td>
                    <td class="text-smallest">
                        @Html.DisplayFor(modelItem => character.LastModified)
                    </td>
                    <td>
                        <span class="right">
                            @*<button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details","MainCharacters", new { id = character.ID })'">
                                <img src="~/Content/Icons/Details.png" alt="Details" class="small_image" />
                            </button>*@
                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Delete","MainCharacters", new { id = character.ID })'">
                                <img src="~/Content/Icons/Trash.png" alt="Delete" class="small_image" />
                            </button>
                        </span>
                    </td>
                </tr>
            }
        </table>
    }
}