@model Vision_V1.Models.Scene

@{
    ViewBag.Title = "Delete";
    ViewBag.Controller = "Scenes";
    Layout = "~/Views/Shared/Templates/DeleteTemplate.cshtml";
}

@section Typ{Scene}

@section Attribute1Name{@Html.DisplayNameFor(model => model.Name)}
@section Attribute1Prop{@Html.DisplayFor(model => model.Name)}

@section Attribute2Name{@Html.DisplayNameFor(model => model.EstimatedDuration)}
@section Attribute2Prop{@Html.DisplayFor(model => model.EstimatedDuration)}

@section Attribute3Name{@Html.DisplayNameFor(model => model.PointInTime)}
@section Attribute3Prop{@Html.DisplayFor(model => model.PointInTime)}

@section Attribute4Name{@Html.DisplayNameFor(model => model.Summary)}
@section Attribute4Prop{@Html.DisplayFor(model => model.Summary)}

@section Attribute5Name{@Html.DisplayNameFor(model => model.Story)}
@section Attribute5Prop{@Html.DisplayFor(model => model.Story)}

@section Attribute6Name{@Html.DisplayNameFor(model => model.Mood)}
@section Attribute6Prop{@Html.DisplayFor(model => model.Mood)}

@section Attribute9Name{@Html.DisplayNameFor(model => model.Weather)}
@section Attribute9Prop{@Html.DisplayFor(model => model.Weather)}

@section Attribute8Name{
    @Html.DisplayNameFor(model => model.Location)
}
@section Attribute8Prop{
    @if (Model.LocationId != null)
    {
        <span>@Html.DisplayFor(model => model.Location.Name)</span>
    }
    else
    {
        <span>NS</span>
    }
}

@section Attribute7Name{
    @Html.DisplayNameFor(model => model.POVCharacter)
}
@section Attribute7Prop{
    @if (Model.POVCharacterId != null)
    {
        <span>@Html.DisplayFor(model => model.POVCharacter.Name)</span>
    }
    else
    {
        <span>NS</span>
    }
}


@section Attribute10Name{@Html.DisplayNameFor(model => model.LastModified)}
@section Attribute10Prop{@Html.DisplayFor(model => model.LastModified)}

@section CancelButton{
    <button type="button" class="btn btn-danger shadow" onclick="location.href='@Url.Action((string)Session["destinedMethod"], (string)Session["destinedController"])'">
        <img src="~/Content/Icons/CancelWhite.png" alt="Cancel" class="small_image" />
    </button>
}
