@model List<Vision_V1.Models.Scene>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/Templates/ListTemplate.cshtml";
}

@section Title{Scenes}

@section Links{
    @if (Vision_V1.ViewModels.PageManager.CurrentChapter != null)
    {
        <button type="button" class="btn btn-primary right" onclick="location.href='@Url.Action("Details", "Chapters")'">
            <img src="~/Content/Icons/Maximize.png" alt="Back to list" class="small_image" />
        </button>
    }
    else if (Vision_V1.ViewModels.PageManager.CurrentPlotline != null)
    {
        <button type="button" class="btn btn-info right" onclick="location.href='@Url.Action("Details", "Plotlines")'">
            <img src="~/Content/Icons/Maximize.png" alt="Back to list" class="small_image" />
        </button>
    }
    else
    {
        <button type="button" class="btn btn-primary right" onclick="location.href='@Url.Action("Index","Scenes")'">
            <img src="~/Content/Icons/Maximize.png" alt="Back to list" class="small_image" />
        </button>
    }
}

@section List{
    @{
        var sceneList = Model.OrderBy(model => model.OrderID == null).ThenBy(model => model.OrderID).ToList();
    }
    @if (sceneList == null || !sceneList.Any())
    {
        <div class="row">
            <div class="col-lg-11 col-lg-offset-1 padding-5 gray_text">No entries</div>
        </div>
    }
    else
    {
        foreach (var scene in sceneList)
        {
            if (Vision_V1.ViewModels.PageManager.CurrentScene != null && Vision_V1.ViewModels.PageManager.CurrentScene.ID == scene.ID)
            {
                <button type="button" class="btn btn-info btn-block" onclick="location.href='@Url.Action("Details", "Scenes",new { id = scene.ID })'">
                    <span>@scene.Name</span>
                </button>
            }
            else
            {
                <button type="button" class="btn btn-standard btn-block" onclick="location.href='@Url.Action("Details", "Scenes",new { id = scene.ID })'">
                    <span>@scene.Name</span>
                </button>
            }
        }
    }
}
